<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>StartUpFilter</filter-name>
        <filter-class>Filter.StartUpFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StartUpFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>Controller.homeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createCourseServlet</servlet-name>
        <servlet-class>Controller.createCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchCourseServlet</servlet-name>
        <servlet-class>Controller.searchCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.AccountController</servlet-name>
        <servlet-class>Controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.ProfileController</servlet-name>
        <servlet-class>Controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.SettingController</servlet-name>
        <servlet-class>Controller.SettingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>Controller.loginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginEmailController</servlet-name>
        <servlet-class>Controller.Authentication.loginEmailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>Controller.logoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseDetailServlet</servlet-name>
        <servlet-class>Controller.CourseDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <servlet-class>Controller.GoogleRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GoogleCallbackServlet</servlet-name>
        <servlet-class>Controller.GoogleCallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GitHubRegisterServlet</servlet-name>
        <servlet-class>Controller.GitHubRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GitHubCallbackServlet</servlet-name>
        <servlet-class>Controller.GitHubCallbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginFacebookController</servlet-name>
        <servlet-class>Controller.Authentication.loginFacebookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGitGubController</servlet-name>
        <servlet-class>Controller.Authentication.loginGitHubController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginGithubCallBackController</servlet-name>
        <servlet-class>Controller.Authentication.loginGithubCallBackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacebookRegisterServlet</servlet-name>
        <servlet-class>Controller.FacebookRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>notificationServlet</servlet-name>
        <servlet-class>Controller.notificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newPassword</servlet-name>
        <servlet-class>Controller.newPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newBlogServlet</servlet-name>
        <servlet-class>Controller.newBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listBlogServlet</servlet-name>
        <servlet-class>Controller.listBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savedBlogServlet</servlet-name>
        <servlet-class>Controller.savedBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editBlogServlet</servlet-name>
        <servlet-class>Controller.editBlogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blogSavedServlet</servlet-name>
        <servlet-class>Controller.blogSavedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.MyBlogController</servlet-name>
        <servlet-class>Controller.MyBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.BlogDetailController</servlet-name>
        <servlet-class>Controller.BlogDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRouteCourseItemServlet</servlet-name>
        <servlet-class>Controller.createRouteCourseItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRouteCourseServlet</servlet-name>
        <servlet-class>Controller.createRouteCourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>detailLearnPath</servlet-name>
        <servlet-class>Controller.detailLearnPathServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>passwordChange</servlet-name>
        <servlet-class>Controller.passwordChange</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authentication.passwordReset</servlet-name>
        <servlet-class>Controller.Authentication.passwordReset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>learningPath</servlet-name>
        <servlet-class>Controller.learningPath</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VideoCourse</servlet-name>
        <servlet-class>Controller.videoLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>learn</servlet-name>
        <servlet-class>Controller.learn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>myCourse</servlet-name>
        <servlet-class>Controller.myCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.MyOrderController</servlet-name>
        <servlet-class>Controller.MyOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newQuestion</servlet-name>
        <servlet-class>Controller.newQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>doingQuestion</servlet-name>
        <servlet-class>Controller.doingQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listQuestion</servlet-name>
        <servlet-class>Controller.listQuestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.QAOfLessonController</servlet-name>
        <servlet-class>Controller.QAOfLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controller.CommentManagementController</servlet-name>
        <servlet-class>Controller.CommentManagementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRouteType</servlet-name>
        <servlet-class>Controller.editRouteType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRouteCourse</servlet-name>
        <servlet-class>Controller.listRouteCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editRouteTypeItemServlet</servlet-name>
        <servlet-class>Controller.editRouteTypeItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listRouteTypeItemServlet</servlet-name>
        <servlet-class>Controller.listRouteTypeItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editQuiz</servlet-name>
        <servlet-class>Controller.editQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listQuiz</servlet-name>
        <servlet-class>Controller.listQuiz</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createCourseServlet</servlet-name>
        <url-pattern>/createCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchCourseServlet</servlet-name>
        <url-pattern>/searchCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.AccountController</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.SettingController</servlet-name>
        <url-pattern>/setting</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginEmailController</servlet-name>
        <url-pattern>/loginEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CourseDetailServlet</servlet-name>
        <url-pattern>/courseDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleRegisterServlet</servlet-name>
        <url-pattern>/GoogleRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GoogleCallbackServlet</servlet-name>
        <url-pattern>/GoogleCallbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GitHubRegisterServlet</servlet-name>
        <url-pattern>/GitHubRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GitHubCallbackServlet</servlet-name>
        <url-pattern>/GitHubCallbackServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginFacebookController</servlet-name>
        <url-pattern>/loginFacebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGitGubController</servlet-name>
        <url-pattern>/loginGitHub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginGithubCallBackController</servlet-name>
        <url-pattern>/loginGithubCallBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacebookRegisterServlet</servlet-name>
        <url-pattern>/facebookCallBack</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>notificationServlet</servlet-name>
        <url-pattern>/notification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newPassword</servlet-name>
        <url-pattern>/newPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newBlogServlet</servlet-name>
        <url-pattern>/newBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listBlogServlet</servlet-name>
        <url-pattern>/listBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savedBlogServlet</servlet-name>
        <url-pattern>/savedBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editBlogServlet</servlet-name>
        <url-pattern>/editBlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blogSavedServlet</servlet-name>
        <url-pattern>/blogSaved</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.MyBlogController</servlet-name>
        <url-pattern>/myblog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.BlogDetailController</servlet-name>
        <url-pattern>/blogDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRouteCourseItemServlet</servlet-name>
        <url-pattern>/createRouteCourseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRouteCourseServlet</servlet-name>
        <url-pattern>/createRouteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>detailLearnPath</servlet-name>
        <url-pattern>/detailLearnPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>passwordChange</servlet-name>
        <url-pattern>/passwordChange</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authentication.passwordReset</servlet-name>
        <url-pattern>/passwordReset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>learningPath</servlet-name>
        <url-pattern>/learningPath</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VideoCourse</servlet-name>
        <url-pattern>/videoCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>learn</servlet-name>
        <url-pattern>/learn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>myCourse</servlet-name>
        <url-pattern>/myCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.MyOrderController</servlet-name>
        <url-pattern>/myorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newQuestion</servlet-name>
        <url-pattern>/newQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>doingQuestion</servlet-name>
        <url-pattern>/doingQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listQuestion</servlet-name>
        <url-pattern>/listQuestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.QAOfLessonController</servlet-name>
        <url-pattern>/qaOfLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controller.CommentManagementController</servlet-name>
        <url-pattern>/commentManage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRouteType</servlet-name>
        <url-pattern>/editRouteType</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRouteCourse</servlet-name>
        <url-pattern>/listRouteCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editRouteTypeItemServlet</servlet-name>
        <url-pattern>/editRouteCourseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listRouteTypeItemServlet</servlet-name>
        <url-pattern>/listRouteCourseItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editQuiz</servlet-name>
        <url-pattern>/editQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listQuiz</servlet-name>
        <url-pattern>/listQuiz</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
