/*Cover image*/
.Profile_banner img{
    background: top/cover no-repeat;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    margin-top: -925px;
    padding-top: 28%;
    width: 80%;
    margin-left: 147px;
    position: absolute;

}
/*Change cover image*/
.input_img {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input_img + label {
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    background-color: #fff;
    display: inline-block;
    cursor: pointer;
    margin-right: 180px;
    margin-top: -180px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    max-height: 40px;
    padding: 10px;
    right: 15px;
    position: absolute;
}
.option button{
    background-color: #000;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1.5rem;
    height: 45px;
    width: 90px;
    line-height: 37px;
    padding: 0 16px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s;
    margin-top: 30px;
    margin-bottom: 20px;
    opacity: 0.75;
}

.option button:hover{
    opacity: 1;
}

.input_img:focus + label,
.input_img + label:hover {
    opacity: 0.8;
}

/*Avatar User*/
.avt_user{
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    height: 172px;
    justify-content: center;
    width: 172px;
    /*position: relative;*/
}

.avatar{
    background: transparent;
    border: 6px solid white;
    border-radius: 50%;
    font-size: var(--font-size);
    margin-left: 450px;
    margin-top: -450px;
    position: absolute;
}

.avatar img{
    border-radius: 50%;
    height: 14em;
    object-fit: cover;
    width: 14em;
}

/*Full name of User*/
.full_name_user{
    font-size: 3.0rem;
    font-weight: 700;
    margin-bottom: 16px;
    margin-left: 400px;
    margin-top: -270px;
}

/*Content*/
.content{
    margin-top: 70px;
    display: flex;
    /*margin-bottom: 10px;*/
}
/*Content left*/
.content_left{
    margin-left: 172px;
    font-size: 20px;
}

.introduce{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1), 0 0 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
    width: 400px;
}

.work{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1), 0 0 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    padding: 18px 14px;
    word-break: break-word;
    width: 400px;
}

/*Content right*/
.content_right{
    font-size: 20px;
    margin-left: 100px;
}

.course{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.1), 0 0 1px 0 rgba(0,0,0,.1);
    margin-bottom: 20px;
    padding: 30px 26px;
    word-break: break-word;
    width: 700px;
}

.course_account{
    display: flex;
}

.course_account a img{
    height: 120px;
    width: 200px;
    border-radius: 16px;
    opacity: 1;
}

.course_account a img:hover{
    opacity: 0.9;
}

.course_account h4{
    margin-left: 28px;
    margin-top: 10px;
}

.course hr{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.course_account p{
    margin-top: -10px;
    margin-left: 30px;
    word-wrap: break-word;
    line-height: 1.5;
}




