/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 19, 2023, 9:19:29 PM
    Author     : HP
*/

.toolbar{
    display: flex;
    margin: 20px 0 0 900px;
}

.toolbar select{
    width: 160px;
    height: 24px;
}

.toolbar input{
    margin-left: 10px;
    height: 24px;
    width: 240px;
}

.toolbar input:focus{
    background-color: #b6effb;
}

.toolbar button{
    margin-left: 10px;
    height: 24px;
    width: 60px;
    cursor: pointer;
}
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.role_name{
    font-size: 18px;
    color: white;
}
.role_name input{
    margin-left: 10px;
}

.btn_select{
    margin-left: 20px;
}

.btn_select button{
    background-color: orange;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    height: 40px;
    /*width: 90px;*/
    /*line-height: 37px;*/
    padding: 0 16px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s;
    margin-top: -10px;
    /*margin-bottom: 20px;*/
    opacity: 1;
    /*border-radius: 10px;*/
}

.btn_select button:hover{
    opacity: 0.9;
}

body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;

}
h2{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 40px 0;
    font-family: sans-serif;

}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    margin-bottom: 400px;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }

}

.message_popup_show{
    background-color: white;
    position: absolute;
    width: 25%;
    height: 25%;
    text-align: center;
    border-radius: 10px;
    margin-left: 35%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px orange;
}

.btn_yes{
    background-color: orange;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 20px 20px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s;
    opacity: 1;
    position: absolute;
    margin-top: 40px;
    margin-left: -120px;
}

.btn_no{
    background-color: orange;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 19px 30px;
    transition: background-color .1s,border-color .1s,color .1s,fill .1s;
    margin-top: 40px;
    margin-left: 20px;
    position: absolute;
    opacity: 1;
}

/*Paging*/
.paging_wrap {
    /*margin-top: -360px;*/
    padding: 10px;
    color: white;
}
.paging_wrap div{
    padding: 6px 12px;
    margin-right: 4px;
    font-size: 16px;
    font-weight: 600;
}
.paging_wrap .hv:hover {
    cursor: pointer;
    border: 1px solid #d0d7de;
    border-radius: 6px;
}
.paging_wrap {
    display: flex;
    justify-content: center;

}
.pagingActive {
    background-color: #f05123;
    color: white;
    border-radius: 6px;
    cursor: default;
}